body {color: rgb(91, 147, 110);}
body {background-color: rgb(50, 50, 50);}
body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}